<div class="top-bar clearfix">
  {{#side-bar}}
    <ul class="side-bar-options">
      {{#link-to "index" tagName="li"}}
        {{#link-to "index"}}Home{{/link-to}}
      {{/link-to}}
      {{#link-to "music" tagName="li"}}
        {{#link-to "music"}}Music{{/link-to}}
      {{/link-to}}
    </ul>
  {{/side-bar}}
  <h2 class="app-title pull-left">Ryuu</h2>
</div>

{{outlet}}
